
@{
    ViewBag.Title = "userLogin";
}

<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="card shadow-lg mt-3">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">用戶登入</h1>
                        <form method="POST" id="form1" autocomplete="off" onsubmit="checkLoginForm(); return false;">
                        @*<form method="" autocomplete="off">*@
                        <input type="hidden" name="password" id="password" value="">

                        <div class="mb-3">
                            <label class="mb-2 text-muted" for="email">E-Mail Address</label>
                            <input id="email" type="email" class="form-control" name="email" value="" required autofocus>
                            <div class="invalid-feedback">
                                Email is invalid
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="mb-2 w-100">
                                <label class="text-muted" for="userpassword">Password</label>
                            </div>
                            <input id="userpassword" type="password" class="form-control" value="" required>
                            <div class="invalid-feedback">
                                Password is required
                            </div>
                        </div>

                        <div class="d-flex align-items-center">
                            <button type="submit" class="btn btn-primary ms-auto">
                                Login
                            </button>

                            @*<button type="button" class="btn btn-primary ms-auto" onclick="checkLoginForm()">
                                Login
                            </button>*@
                        </div>
                        </form>
                    </div>
                    <div class="card-footer py-3 border-0">
                        <div class="text-center">
                            Don't have an account? <a href="register.html" class="text-dark">Create One</a>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-5 text-muted">
                    Copyright &copy; 2017-2021 &mdash; Your Company


                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{

    <script>
        async function checkLoginForm() {
            const userpassword = document.getElementById("userpassword");
            const password = document.getElementById("password");

            await sha256(userpassword.value).then(function (result) {
                return result;
            }).then(
                result => {
                    password.value = result;
                }
            );
            document.getElementById("form1").submit();
        }
    </script>
}